* {
    padding: 5px;
}
.table tr {
    text-align: center;
    outline: 1px solid black;
    color:pink
}
.table td {
    outline:1px solid black;
}
h3 {
    outline: 1pc black
}
.tablecolor{
    background-color: rgb(80, 24, 24);
}